<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
	<meta name="author" content="Tad DeVries">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

	<!--[if lt IE 9]>
		<script src="/javascripts/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="/images/favicon.ico">
	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
</head>
<body>
<div id="wrap">
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Splunk.Net</h1>
			<h5>[<a class="extra" href="/">home</a>] [<a class="extra" href="/64bit-putty/">64bit putty</a>] [<a class="extra" href="/about/">About</a>]</h5>
			<hr />
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
{{ content }}
		</div>
		<div class="col-md-3 col-md-offset-1">
				<h4>Categories</h4>
					<ul class="square">
					{% for category in site.category-list %}
						<li><a href="/category/{{ category }}/">{{ category }}</a></li>
					{% endfor %}
					</ul>
				<h4>RSS Feeds</h4>
				<ul class="square">
					<li><a href="/feed.xml">recent</a></li>
				{% for category in site.category-list %}
					<li><a href="/feed.{{ category }}.xml">{{ category }}</a></li>
				{% endfor %}
				</ul>
				<h4>Social</h4>
				<div data-social-share-privacy='true'></div>
		</div>
	</div>
	<div class="row">
		<div id="push"></div>
	</div>
</div> <!-- end container -->
</div> <!-- end wrap -->

<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
			<hr class="remove-bottom"/>
			<small>Copyright &copy; 2001-2015 Tad DeVries -- <a href="/about/#privacy-policy">Privacy Policy</a></small>
			</div>
		</div>
	</div>
</div>


<!-- Javascripts
================================================== -->
<script type="text/javascript" src="/javascripts/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.cookies.js"></script>
<script type="text/javascript" src="/javascripts/jquery.socialshareprivacy.min.autoload.js"></script>
<script type="text/javascript" src="/javascripts/main.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>

<script type="application/x-social-share-privacy-settings">{
	layout:"line",
	services:{"buffer":{"status":false},
		 	  "delicious":{"status":false},
			  "disqus":{"status":false},
			  "fbshare":{"status":false},
			  "flattr":{"status":false},
			  "hackernews":{"status":false},
			  "mail":{"status":false},
			  "stumbleupon":{"status":false},
			  "tumblr":{"status":false},
			  "xing":{"status":false}
			  }
	}
</script>

<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "WebSite",
  "name" : "Splunk.Net, Personal website for TadDev",
  "alternateName" : "A place for me put my things",
  "url" : "https://blog.splunk.net"
}
</script>
<!-- End Document
================================================== -->
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://dev.splunk.net/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
    g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();

</script>
<noscript><p><img src="http://dev.splunk.net/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
</body>
</html>
